.wid-500 {
    max-width: 500px;
}
.vh-75 {
    height: 75vh;
}

.main-header {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 5rem;
}

.section-header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5rem;
}

.subtitle-text {
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}

.button-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 3rem;
}

.how-to-section {
    margin-top: 2rem;
}

.how-to-section-steps {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 3.9rem;
    align-items: center;
}

.pro-section {
    margin-top: 7rem;
}

.pro-image {
    width: 100%;
    height: auto;
}

.pro-item-section {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
}

.pro-item-section-left {
    flex-direction: row;
}

.pro-item-section-right {
    flex-direction: row-reverse;
}

.pro-item-section-title {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.footer {
    background-color: #0d6efd;
    width: 100vw;
}

.footer-menu {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    margin-top: 1rem;
}

.footer-link {
    color: white;
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .pro-item-section {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .button-section {
        width: 100%;
    }

    .main-header {
        margin-top: 2rem;
    }

    .how-to-section-steps {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .wid-500 {
        max-width: 80%;
    }
}
