.vote-btn {
    width: 100px;
    height: 150px;
    
}

.vote-btn-font-size {
    font-size: 50px;
}



@media (max-width: 576px) {
    .vote-btn {
        width: 5rem;
        height: 7rem;
    }

    .vote-btn-font-size {
        font-size: 2rem;
    }

}